.login-logo-wrap {
    width: 230px;
}

.login-logo-wrap img.login-logo {
    display: block;
    margin: 0 auto 15px;
}

.login-logo-wrap .media-buttons {
    text-align: center;
}

.login-logo-wrap .media-buttons input.button {
    display: inline-block;
    margin: 0 3px;
}